<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% ActionController::Base.asset_host = 'http://localhost:3000/' %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mighty Macs Widget</title>
    <%= stylesheet_link_tag 'widgets', id: 'widgets_style', theme: 'widgets_style' %>
    <script type="text/javascript" src="http://localhost:3000/assets/jquery.js"></script>
    <script type="text/javascript" src="http://localhost:3000/assets/jquery.tinyscrollbar.js"></script>
    <%= javascript_include_tag 'widgets'%>
</head>

<body>

 <%= button_tag 'Change Style', id: 'btn_style', type: 'button'%>

<div id="widgetContainer">
    <div id="menu">
        <div class="menuButton" id="videoClipsButton" style="margin-left:0px;"><img src="http://localhost:3000/assets/videoClipsButtonSelected.png" width="67" height="12" /></div>
        <div class="menuButton" id="latestNewsButton" style="margin-left:31px;"><img src="http://localhost:3000/assets/latestNewsButton.png" width="68" height="12" /></div>
        <div class="menuButton" id="signUpButton" style="margin-left:31px;"><img src="http://localhost:3000/assets/signUpButton.png" width="45" height="12" /></div>
        <div class="menuButton" id="connectButton" style="margin-left:31px;"><img src="http://localhost:3000/assets/connectButton.png" width="57" height="12" /></div>
        <div class="menuButton" id="aboutTheFilmButton" style="margin-left:31px;"><img src="http://localhost:3000/assets/aboutTheFilmButton.png" width="85" height="12" /></div>
    </div>

    <div class="tab" id="videoClipsTab">
        <div class="tabContainer">
            <div style="width:392px;margin:0 auto;">
                <object width="392" height="240">
                    <param name="movie" value="http://www.youtube.com/v/Y_VXhJCetwc?hl=en&fs=1&rel=0"></param>
                    <param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param>
                    <embed src="http://www.youtube.com/v/Y_VXhJCetwc?hl=en&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="392" height="240"></embed>
                </object></div>
        </div>
    </div>

    <div class="tab" id="latestNewsTab" style="display:none;">
        <div class="tabContainer">
            <div id="scrollbar1" class="scrollbarC">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview">
                        <div class="storyRow"><a class="storyTitle" href="http://catholicnewmedia.blogspot.com/2011/10/g-rated-mighty-macs-draws-audience.html" target="_blank">G-Rated ‘The Mighty Macs’ Draws Audience, Critical Praise</a><div class="storyDescription">PHILADELPHIA, PA (October 26, 2011) – THE MIGHTY MACS – a G-rated, inspiring story of finding the courage to chase your dreams – debuted last weekend, drawing praise from critics and audiences... [[ This is a content summary only. Visit my website for full links, other content, and more! ]]</div></div><div class="storyRow"><a class="storyTitle" href="http://www.examiner.com/religion-media-in-national/mighty-macs-old-fashioned-underdog-story-review" target="_blank">Mighty Macs: Old-Fashioned Underdog Story Wins on Court</a><div class="storyDescription">As a huge women's basketball fan, I couldn't wait for the Mighty Macs opening weekend. My kids were not as eager to see the film for fear it would be "corny." I assured my kids and my husband that it was a perfect family night movie complete with ...</div></div><div class="storyRow"><a class="storyTitle" href="http://decentfilms.com/reviews/mightymacs" target="_blank">Review: The Mighty Macs (2011)</a><div class="storyDescription">The movie is full of Catholic iconography that Catholic viewers and fans of Golden Age Hollywood Catholicism will appreciate. Statues of Jesus, Mary and the saints are everywhere. I compared the movie’s Catholic milieu to a Bing Crosby film, but a Crosby film would actually have edgier personalities and more conflict.</div></div><div class="storyRow"><a class="storyTitle" href="http://moviereach.com/2011/10/the-mighty-macs-is-more-than-a-layup/" target="_blank">"The Mighty Macs" Is More Than a Layup</a><div class="storyDescription">Recommended Article FROM http://feedproxy.google.com/~r/christiancinema/news/~3/3grBRWEfQ-4/newsdesk_info.php an Interview with Director Tim Chambers by Angela Walker ...</div></div><div class="storyRow"><a class="storyTitle" href="http://www.facebook.com/94.7KRKS/posts/10150338061121309" target="_blank">It’s game time! The Mighty Macs opens today in theaters across the U.S. Find a t...</a><div class="storyDescription">It’s game time! The Mighty Macs opens today in theaters across the U.S. Find a theater near you and Back the Macs. As ESPN Radio’s John Kincade says: “The Mighty Macs is a great film for the entire family, not just for the sports fan! It is a relatable story of perseverance, dedication and triumph.” See it this weekend!</div></div><div class="storyRow"><a class="storyTitle" href="http://moviereach.com/2011/10/%e2%80%9cthe-mighty-macs%e2%80%9d-opens-in-theaters-friday-october-21st/" target="_blank">“The Mighty Macs” opens in theaters Friday, October 21st.</a><div class="storyDescription">Recommended Article FROM http://pisgahview.net/?p=13041 The Mighty Macs – (2011) In the early 70s, Cathy Rush becomes the head basketball coach at a tiny, all-girls Catholic college. Though her team has no gym and no uniforms — and the school itself is in danger ...</div></div><div class="storyRow"><a class="storyTitle" href="http://thechurchreport.com/index.cfm?fuseaction=siteContent.default&objectID=141372" target="_blank">'Mighty Macs' Follows Same Underdog Path As Team</a><div class="storyDescription">Here's a sports fairy tale that never gets old: Underdog team with few resources but a lot of heart beats the odds and comes out on top. That is what actually happened to the 1971-72 women's basketball squad at tiny Immaculata College.</div></div><div class="storyRow"><a class="storyTitle" href="http://www.facebook.com/94.7KRKS/posts/10150331289321309" target="_blank">Remember the movie Rudy, based on an inspiring true story? “If you loved Hoosier...</a><div class="storyDescription">Remember the movie Rudy, based on an inspiring true story? “If you loved Hoosiers and Rudy, you will love The Mighty Macs!” That’s what Rudy Ruettiger, the real-life Rudy, says about The Mighty Macs, opening in theaters October 21!</div></div><div class="storyRow"><a class="storyTitle" href="http://www.facebook.com/94.7KRKS/posts/10150331468576309" target="_blank">She dared to dream. They dared to believe. The Mighty Macs tells the inspiring t...</a><div class="storyDescription">She dared to dream. They dared to believe. The Mighty Macs tells the inspiring true story of the basketball team from tiny Immaculata College that discovers that dreams really are for everyone! Check out this scene:</div></div><div class="storyRow"><a class="storyTitle" href="http://www.facebook.com/Q102.7/posts/10150338166898110" target="_blank">Have you heard about The Mighty Macs, a great new film coming to theaters on Oct...</a><div class="storyDescription">Have you heard about The Mighty Macs, a great new film coming to theaters on October 21? The Mighty Macs will have you cheering the true story of the first Cinderella team in women’s sports. Learn more: http://themightymacs.com/</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab" id="signUpTab" style="display:none;">
        <div class="tabContainer">
            <div id="signUpContainer">
                <input id="nameTF" class="inputTF" type="text" />
                <input id="emailTF" class="inputTF" type="text" />
                <input id="phoneTF" class="inputTF" type="text" />
                <input id="signupActionButton" type="button" value="" />
            </div>
        </div>
    </div>

    <div class="tab" id="connectTab" style="display:none;">
        <div class="tabContainer">
            <div style="width:200px;float:left;">
                <div id="twitterButton" class="connectButton"><a href="http://twitter.com/MightyMacsMovie" target="_blank"><img src="http://localhost:3000/assets/twitterButton.png" width="156" height="44" /></a></div>
                <div id="websiteButton" class="connectButton"><a href="http://themightymacs.com/" target="_blank"><img src="http://localhost:3000/assets/websiteButton.png" width="109" height="47" /></a></div>
            </div>
            <div style="float:right;background-color:#FFF;">
                <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fthemightymacs&amp;width=224&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:224px; height:234px;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>

    <div class="tab" id="aboutTheFilmTab" style="display:none;">
        <div class="tabContainer">
            <div id="scrollbar2" class="scrollbarC">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport">
                    <div class="overview">
                        <div style="width:430px;">
                            <i>THE MIGHTY MACS</i><br />
                            <br />
                            She Dared to Dream. They Dared to Believe.<br />
                            <br />
                            It's 1971. Cathy Rush is a woman ahead of her time … and she's about to embark on
                            an adventure for the ages.<br />
                            <br />
                            Recently hired as the coach of tiny Immaculata College, Cathy's challenges are as
                            imposing as the big-school teams her Macs will face. There is no gymnasium, no fan
                            support, and no money. To top it off, Cathy may not even have enough players for a
                            team!<br />
                            <br />
                            While it appears the Macs don't have a prayer, all hope is not lost. With the help
                            of Sister Sunday—a spunky assistant coach—and the support of a booster club of
                            elderly nuns, Coach Rush creates a new game plan that just might bring the team—
                            and the school—together.<br />
                            <br />
                            Will this pioneer buck cultural norms and spur her rag-tag team to unexpected
                            heights? Or will her hard-driving ways create a wedge between the coach and
                            everyone around her? One thing's for certain: there's never been anyone like Cathy
                            Rush at Immaculata!<br />
                            <br />
                            Get ready to cheer on a true Cinderella team when THE MIGHTY MACS opens in
                            theaters on October 21.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
